@{
  Layout = "_Layout";
}

<h1>Shelter of Animals</h1>

<div class="box">
  <p>@Html.ActionLink("View All Animals", "Index", "Animals")</p>
  <p>@Html.ActionLink("Add An Animal", "Create", "Animals")</p>
</div>
